/*-- scss:defaults --*/
$body-bg: #f9f8f4;
$body-color: #252c2a;
$link-color: #286557;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: Georgia, "Times New Roman", serif;
$font-size-root: 17px;
$line-height-base: 1.7;
$headings-font-weight: 400;
$navbar-bg: #f9f8f4;
$navbar-fg: #252c2a;
$navbar-hl: #286557;
$border-color: #dcded5;
